.padding-container {
    padding: 30px 100px;
}

.prozor-kurs {
    background-color: rgb(234, 250, 255);
    padding: 20px 40px;
    width: 650px;
    display: none;
}

.hidden-kurs {
    display: block !important;
}

.prozor-kurs input,
.prozor-kurs textarea {
    margin-bottom: 20px;
}

.izmeni-kurs {
    background-color: rgb(234, 250, 255);
    padding: 20px 40px;
    width: 650px;
    display: none;
}

.izmeni-kurs input,
.izmeni-kurs textarea {
    margin-bottom: 20px;
}

#search {
    display: inline;
    width: 100px;
}