.padding-container {
    padding: 40px 100px;
}

.prozor-kurs {
    background-color: rgb(234, 250, 255);
    padding: 20px 40px;
    width: 650px;
    display: none;
}

.hidden-kurs {
    display: block;
}

.prozor-kurs input,
.prozor-kurs textarea {
    margin-bottom: 20px;
}